{
    "presets": [
        ["env", {
            "targets": {
                "browserslist": [
                    "> 1%",
                    "last 2 versions"
                ]
            }
        }],
        "react"
    ]
}