{
    "presets": [
        ["@babel/preset-env", {
            "targets":  "> 1%, last 2 versions"
        }], //move from targets.browsers vertion because this will be removed in later version
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
    ]
}